.todo {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 1900px;
  background-color: rgba(255, 0, 0, 0.24);
  margin: 10px 40px 10px 10px;
  border-radius: 5px;
}

.string {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.string input {
  margin-left: 20px;
  /* display: none; */
}

.string span {
  margin-left: 10px;
}

.string div {
  cursor: pointer;
  margin-right: 20px;
}
